# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Files
SOURCE_CODE/input.txt
SOURCE_CODE/output.txt
.gitignore
SOURCE_CODE/N_QUEEN_COUNTING_SOLUTIONS
SOURCE_CODE/N_QUEEN_PRINTING_SOLUTIONS
